# Tutorial 1: Gender Based Model

[Original post link](https://www.kaggle.com/sciamano/titanic/tutorial-1-gender-based-model-0-76555/code)

## Initialization

In [1]:
import numpy as np
import pandas as pd
import pylab as plt

## Import the Data into the Script

In [1]:
train = pd.read_csv('C:/Repositories/Titanic/data/train.csv', dtype={"Age": np.float64}, )
test = pd.read_csv('C:/Repositories/Titanic/data/test.csv', dtype={"Age": np.float64}, )

In [4]:
train.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

## Create the submission file with passengerIDs from the test file

In [3]:
submission = pd.DataFrame({"PassengerId": test['PassengerId'], "Survived": pd.Series(dtype='int32')})

## Fill the Data for the survived column, all females live (1) all males die (0)

In [11]:
submission.Survived = [1 if x == 'female' else 0 for x in test['Sex']]

## Create final submission file

In [7]:
submission.to_csv("submission.csv", index=False)

## (Optional) A Nice Visual showing Survival of Men and Women to justify this approach

In [8]:
female_stats = train[train['Sex'] == 'female']
females_alive = np.sum(female_stats['Survived'] == 1)
females_dead = len(female_stats.index) - females_alive
female_survival = pd.Series((females_alive, females_dead), name='')

female_chart = female_survival.plot(kind='pie', title='Female Survival', labels=['Survived','Died'], colors=['#21BFFF','#90DFFF'], figsize=(4,4), autopct='%1.1f%%')
female_chart.set_aspect('equal')
fig_female = female_chart.get_figure()
#female_survival = pd.Series((females_alive, females_dead), name='')

plt.clf()

In [14]:
male_stats = train[train['Sex'] == 'male']
males_alive = np.sum(male_stats['Survived'] == 1)
males_dead = len(male_stats.index) - males_alive
male_survival = pd.Series((males_alive, males_dead), name='')

male_chart = male_survival.plot(kind='pie', title='Male Survival', labels=['Survived','Died'], colors=['#21BFFF','#90DFFF'], figsize=(4,4), autopct='%1.1f%%')
male_chart.set_aspect('equal')
fig_male = male_chart.get_figure()
#fig_male.savefig('x2_male_survival.png')